.component{ 
    background-repeat: no-repeat;
    float: right;
    margin-top: 12.5%;
    margin-right: 12.5%;
    border: violet 2px solid;
    padding: 5%;
    background-color:rgb(83, 207, 224);
    box-shadow: 0 20px 40px rgba(59, 43, 91, 0.7);
}
.back_img{
    float: left;
    height: 947.5px;
    width: 50%;
    margin-left: -0.85em;
    background-image: url("Logib.jpg");
}
.back_img2{
    background-image: url("Untitled.png");
    height: 947.5px;
    margin-right: -0.85em;
}


